@import "config", "form";

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

body {
    background: url("../images/bg-intro-desktop.png"), color(primary-red);
    line-height: 1.6;
    font-size: 1.6rem;
    margin: 0;
    min-height: 100%;
    @include flexCenter(row);
    // flex-wrap: wrap;
    font-family: $font-stack;
    padding: $padding;
    // @include desktopSize {
    //     background: color(primary-red);
    // }

    @include mobileSize {
        flex-wrap: wrap;
    }
}

.title--wrap,
.form--wrap {
    // outline: solid black 2px;
    max-width: 500px;
    width: 100%;
    // max-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $padding;
}

.title--wrap {
    height: 100%;

    @include mobileSize {
        text-align: center;
    }
}

.title--wrap {
    color: white;

    .title__h1 {
        font-size: 3.4rem;
        max-width: 20ch;
        line-height: 1.2;
    }

    .title__p {
        margin-top: 2em;
        max-width: 50ch;
    }
}
